{% extends 'base.html' %}
{% block title %}  {% endblock %}
{% block content %}
<h1>Сделать анализ покупок</h1>
<p>{{ message }}</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Получить праздники</button>
</form>
{% if result %}
    <h2>Результаты:</h2>
    <ul>
        {% for item in result %}
            {% for holiday in item %}
                <li>на праздник: {{ holiday.name }} {% if holiday.description %} (описание: {{ holiday.description }}) {% endif %}
                </li>
                {% if holiday.purchase_data.exists %}
                    было куплено:
                    <ul>
                        {% for purchase_item in holiday.purchase_data %}
                            <li>{{ purchase_item }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    покупок не было
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<br>
<p><a href="{% url 'index'%}"> Домой </a></p>
<p><a href="{% url 'add_purchase'%}"> Добавить покупку </a></p>
<p><a href="{% url 'add_hol'%}"> Добавить праздник </a></p>

{% endblock %}